.search-wrapper {
    margin: 15px;
    height: 30px;
    border-radius: 4px;
    background-color: #e6e6e6;
    text-align: center;
}
.search-wrapper  span {
	font-size: 16px;
	line-height: 30px;
	color: #AAAAAA;
}

.list-post {
	top: 60px;
	bottom: 50px;
}

.movie-pic {
	width: 76px;
	/*height: 108px;*/
	display: block;
	margin-right: 15px;
}
