.search-wrapper {
    margin: 15px;
    height: 30px;
    border-radius: 4px;
    background-color: #e6e6e6;
    text-align: center;
}
.search-wrapper  span {
	font-size: 16px;
	line-height: 30px;
	color: #AAAAAA;
}
